[user]
	;name = abdourakhmane
  ;email = dev.aert@gmail.com

[color]
	status = auto
	ui = true
	interactive = auto

[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lf = log --pretty=format: --name-only
	co = commit
	ck = checkout
	di = diff --color-words
	dis = diff --color-words --staged
	pe = diff --stat
	st = status
	br = branch --sort=-committerdate
	rbi = rebase -i
	unstage = reset HEAD --
	# resets all uncomitted changes and files
	abort = reset --hard HEAD
	# shows diff only for files staged to commit
	di-staged = diff --cached
	# change last commit message
	recommit = commit --amend
[merge]
	tool = meld
[diff]
	tool = meld
	suppressBlankEmpty = true
	mnemonicprefix = true
[core]
	quotepath = off
	autocrlf = input
	editor = vim
	pager = delta --theme=zenburn

[giggle]
	main-window-maximized = false
	main-window-geometry = 1102x864+202+126
	main-window-view = FileView
	history-view-vpane-position = 412
	file-view-vpane-position = 421
[init]
	templatedir = ~/.git_template
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
